@model GreatBritain.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Подробнее о продукте</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Наименование: @Html.DisplayFor(model => model.Title)</dt>
        <dt class = "col-sm-2">Цена: @Html.DisplayFor(model => model.Cost) руб.</dt>
        <dt class = "col-sm-2">Описание: @Html.DisplayFor(model => model.Description)</dt>
        <dt class = "col-sm-2">Активно: @Html.DisplayFor(model => model.IsActive)</dt>
        <dt class = "col-sm-2">Производитель: @Html.DisplayFor(model => model.Manufacturer.Name)</dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
